<!--ユーザー情報-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user) %>
  <% end %>
</div>

<!--ユーザー投稿情報-->
<%= render 'post_images/list', post_images: @post_images %>